/*Style for Brand page*/
@import "variables";

* {
  box-sizing: border-box;
  font-family: $font-robot;
  outline: none;

  transition: all 0.5s;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;

  }
}

.container {
  display: flex;

  width: 1130px;
  padding: 0 10px;

  @media (max-width: 1200px) {
    width: 992px;
  }
  @media (max-width: 992px) {
    width: 720px;
  }
  @media (max-width: 768px) {
    width: 568px;
  }
  @media (max-width: 568px) {
    width: 100%;
  }
}

button {
  padding: 0;

  border: none;
  background: none;
}


/*Header*/

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 26px 0;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 99;

  .container {
    flex-wrap: wrap;

    .left {
      display: flex;
      align-items: center;

      width: 50%;

      @media (max-width: 992px) {
        width: 60%;
      }

      .logo {
        display: block;
        width: 115px;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      ul {
        list-style: none;
        display: flex;

        margin: 0 60px;
        padding: 0;

        @media (max-width: 992px) {
          margin: 0 20px;
        }

        @media (max-width: 768px) {
          display: none;
        }

        li {
          margin: 0 20px;

          @media (max-width: 992px) {
            margin: 0 10px;
          }

          a {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 100%;
            /* identical to box height, or 14px */

            text-transform: uppercase;
            text-decoration: none;

            color: #FFFFFF;

            &:hover {
              border-bottom: 1px solid white;
            }
          }
        }
      }
    }

    .right {
      width: 50%;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      @media (max-width: 992px) {
        width: 40%;
      }

      .repost {
        background: url(../img/icons/rpst-dark.svg) no-repeat 50%/cover;
        margin-left: 25px;
        display: block;
        width: 130px;
        height: 40px;

        border-radius: 4px;
        border: 1px solid #333;

        @media (max-width: 768px) {
          display: none;
        }
      }

      .tg {
        width: 130px;
        height: 40px;

        background: #FFFFFF;
        border: 1px solid #E4E4E4;
        box-sizing: border-box;
        border-radius: 5px;

        margin-left: 12px;

        display: flex;
        align-items: center;
        justify-content: center;

        text-decoration: none;

        @media (max-width: 992px) {
          width: 40px;
          border-radius: 50%;
        }

        &:before {
          content: url("../img/icon-tg.svg");
          margin-right: 12px;
          @media (max-width: 992px) {
            margin-right: 0;
            margin-top: 5px;
          }
        }

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 100%;
          /* identical to box height, or 14px */

          display: flex;
          align-items: center;
          text-align: center;

          color: #000000;

          @media (max-width: 992px) {
            display: none;
          }
        }
      }

      .searchbar-toggle-btn {
        display: flex;
        content: url("../img/search-white.png");
        cursor: pointer;

        @media (max-width: 768px) {
          display: none;
        }

        &.active {
          content: '';

          &:before {
            width: 17px;
            height: 17px;
            content: '+';
            font-weight: 100;
            font-size: 35px;
            color: white;
            transform: rotate(45deg);

            line-height: 0.5;
            margin-bottom: 3px;
          }
        }
      }

      .burger-btn {
        display: none;

        width: 27px;
        height: 18px;

        flex-direction: column;
        justify-content: space-between;

        cursor: pointer;
        @media (max-width: 768px) {
          display: flex;

          margin-left: 25px;
        }

        &.active {
          span {
            position: relative;

            &:first-child {
              display: none;
            }

            &:nth-child(2) {
              transform: rotate(45deg);

              top: 8px;
            }

            &:nth-child(3) {
              transform: rotate(-45deg);
              top: -8px;
            }
          }
        }

        span {
          width: 100%;
          height: 2px;
          content: '';
          background-color: white;
        }
      }
    }

    .search-form-wrapper, .mob-nav {
      display: none;
    }

    .search-form-wrapper.active {
      display: flex;

      width: 100%;
      height: 50px;

      form {
        position: relative;
        width: 80%;
        margin: 0 auto;

        label {
          width: 100%;


          input {
            display: block;
            padding: 15px;
            border: none;
            outline: 0;
            width: 100%;
            border-bottom: 1px solid #fff;
            color: #fff;

            background: transparent;

            -webkit-transition: 0.3s ease;
            -o-transition: 0.3s ease;
            transition: 0.3s ease;

            &::placeholder {
              color: #fff;
            }
          }
        }

        .search-btn {
          position: absolute;
          right: 15px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);

          content: url("../img/search-white.png");

          background: transparent;
          padding: 0;
          border: none;

          display: flex;

          cursor: pointer;
        }
      }
    }

    .mob-nav.active {
      @media (max-width: 768px) {
        display: flex;
        justify-content: center;
        width: 100%;

        margin-top: 20px;

        ul {
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          padding: 0;

          li {
            margin: 0 20px;

            a {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 100%;
              /* identical to box height, or 14px */

              text-transform: uppercase;
              text-decoration: none;

              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
}


/*Footer*/

footer{
  width: 100%;
  display: flex;
  justify-content: center;

  .container{
    display: flex;
    flex-direction: column;

    padding-top: 40px;
    padding-bottom: 40px;

    border-top: 1px solid #EDEDED;


    @media (max-width: 568px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .top{
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 500px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .logo{
        width: 131px;

        img{
          width: 100%;
          height: auto;
        }
      }

      ul{
        display: flex;
        list-style: none;

        margin: 0;
        padding: 0;

        @media (max-width: 500px) {
          flex-direction: column;
          margin-top: 15px;
        }
        li{
          margin: 0 20px;

          @media (max-width: 500px) {
            margin: 0 0 15px 0;

            &:last-child{
              margin-bottom: 0;
            }
          }

          a{
            text-decoration: none;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 100%;
            /* identical to box height, or 14px */


            color: #000000;
          }
        }
      }
    }

    .bottom{
      margin-top: 20px;

      p{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 120%;
        /* identical to box height, or 17px */


        color: #666666;

        margin: 0;
      }
    }
  }
}

/*First screen*/

.first-screen {
  //min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 992px) {
    min-height: unset;
    height: auto;
  }

  .top {
    width: 100%;
    display: flex;
    justify-content: center;

    min-height: calc(100vh - 206px);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    @media (max-width: 992px) {
      height: auto;
      min-height: 480px;
    }

    .left {
      height: 100%;
      width: 50%;

      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 768px) {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 20px;

        z-index: 5;

        height: fit-content;
      }

      h1 {
        font-family: $font-ora;
        font-style: normal;
        font-weight: normal;
        font-size: 70px;
        line-height: 100%;
        /* identical to box height, or 70px */


        color: #FFFFFF;

        margin: 0 0 10px 0;

        @media (max-width: 992px) {
          font-size: 50px;
        }

        @media (max-width: 768px) {
          text-align: center;
        }
      }

      .sub-title {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        /* identical to box height, or 21px */


        color: #FFFFFF;

        @media (max-width: 768px) {
          text-align: center;
        }
      }

      p {
        font-family: $font-ora;

        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 110%;
        /* or 28px */


        color: #FFFFFF;

        margin: 50px 0 0 0;

        @media (max-width: 992px) {
          margin-top: 30px;
        }

        @media (max-width: 768px) {
          display: none;
        }
      }
    }

    .right {
      height: 100%;
      width: 50%;

      display: flex;
      align-items: flex-end;

      @media (max-width: 992px) {

        img {
          width: 100%;
          height: auto;
        }
      }

      @media (max-width: 768px) {
        width: 100%;
        z-index: 1;
      }
    }
  }

  .bottom {
    width: 100%;
    min-height: 206px;

    display: flex;
    justify-content: center;

    background: linear-gradient(270deg, #1C1C1A 50%, #464646 100%);
    backdrop-filter: blur(10px);

    @media (max-width: 1200px) {
      //min-height: 250px;
    }

    .statistic-list {
      display: flex;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        justify-content: center;
      }

      .statistic-item {
        width: 33.333%;

        display: flex;
        flex-direction: column;

        padding-right: 70px;
        padding-top: 45px;

        @media (max-width: 992px) {
          padding: 30px 20px 30px 0;
        }

        @media (max-width: 768px) {
          width: 50%;
        }

        @media (max-width: 568px) {
          width: 100%;
          padding-bottom: 0;
          &:last-child {
            padding-bottom: 30px;
          }
        }

        h3 {
          font-family: $font-ora;

          font-style: normal;
          font-weight: normal;
          font-size: 50px;
          line-height: 110%;
          /* identical to box height, or 55px */


          color: #FFFFFF;

          margin: 0 0 10px 0;

          @media (max-width: 1200px) {
            font-size: 40px;
          }

          @media (max-width: 768px) {
            text-align: center;
          }

          @media (max-width: 568px) {
            font-size: 30px;
          }
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 130%;
          /* or 19px */


          color: #CACACA;

          margin: 0;

          @media (max-width: 768px) {
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
  }

}


/*Second screen*/

.second-screen {
  display: flex;
  justify-content: center;
  padding-top: 60px;

  @media (max-width: 768px) {
    padding-top: 30px;
  }

  .container {
    flex-wrap: wrap;


    .left {
      width: calc(100% - 285px);

      @media (max-width: 992px) {
        width: calc(100% - 245px);
      }

      @media (max-width: 768px) {
        width: 100%;

        border-bottom: 1px solid #F3F3F3;
        margin-bottom: 20px;

        order: 2;
      }

      .content{
        width: 100%;

        h2, h3, h4, h5, h6{
          margin-top: 0;
          margin-bottom: 20px;

          font-style: normal;
          font-weight: 600;
          font-size: 26px;
          line-height: 30px;
          /* identical to box height, or 136% */


          color: #333333;
        }

        p{
          font-size: 16px;

          margin-top: 0;
          margin-bottom: 20px;
        }
      }

      .posts-list{
        width: calc(100% + 30px);
        margin-left: -15px;
        display: flex;
        flex-wrap: wrap;
        .post-item{
          width: calc(33.33333% - 30px);
          margin: 0 15px;
          margin-bottom: 30px;

          display: flex;
          flex-direction: column;

          text-decoration: none;

          @media (max-width: 992px) {
            width: calc(50% - 30px);
          }
          @media (max-width: 568px) {
            width: 100%;
            flex-direction: row;
          }
          img{
            width: 100%;
            height: 145px;

            object-fit: cover;

            @media (max-width: 568px) {
              width: 104px;
              height: 100%;

              margin-right: 12px;
            }
          }

          .content{
            @media (max-width: 568px) {
              width: calc(100% - 116px);
            }
            .top{
              margin: 5px 0 0 0;

              @media (max-width: 568px) {
                margin-top: 0;
              }

              .category{
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 22px;
                /* identical to box height, or 183% */

                text-transform: uppercase;

                color: #1091FF;

                @media (max-width: 568px) {
                  line-height: 12px;
                }
              }

              .breaker{
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                /* identical to box height */

                text-transform: uppercase;
                font-feature-settings: 'pnum' on, 'lnum' on;

                color: #777777;

                margin: 0 8px;

                @media (max-width: 568px) {
                  line-height: 12px;
                }
              }

              .date{
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                /* identical to box height */

                text-transform: uppercase;
                font-feature-settings: 'pnum' on, 'lnum' on;

                color: #777777;

                @media (max-width: 568px) {
                  line-height: 12px;
                }
              }
            }

            h5{
              font-style: normal;
              font-weight: normal;
              font-size: 17px;
              line-height: 22px;
              /* or 129% */


              color: #333333;

              margin: 0;

              @media (max-width: 568px) {
                font-size: 16px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }

    .right {
      width: 285px;

      padding-left: 30px;

      @media (max-width: 992px) {
        width: 245px;
      }

      @media (max-width: 768px) {
        width: 100%;
        padding-left: 0;

        margin-bottom: 50px;

        order: 1;
      }

      h2, h3, h4, h5, h6{
        margin-top: 0;
        margin-bottom: 20px;

        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 30px;
        /* identical to box height, or 136% */


        color: #333333;
      }

      p{
        margin-top: 0;
        margin-bottom: 5px;

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        /* or 154% */


        color: #333333;
      }
    }
  }
}