/*Style for Brand page*/
* {
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  outline: none;
  transition: all 0.5s;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px white;
}
*::-webkit-scrollbar-thumb {
  background-color: black;
}

.container {
  display: flex;
  width: 1130px;
  padding: 0 10px;
}
@media (max-width: 1200px) {
  .container {
    width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 568px;
  }
}
@media (max-width: 568px) {
  .container {
    width: 100%;
  }
}

button {
  padding: 0;
  border: none;
  background: none;
}

/*Header*/
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 26px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
header .container {
  flex-wrap: wrap;
}
header .container .left {
  display: flex;
  align-items: center;
  width: 50%;
}
@media (max-width: 992px) {
  header .container .left {
    width: 60%;
  }
}
header .container .left .logo {
  display: block;
  width: 115px;
}
header .container .left .logo img {
  display: block;
  width: 100%;
  height: auto;
}
header .container .left ul {
  list-style: none;
  display: flex;
  margin: 0 60px;
  padding: 0;
}
@media (max-width: 992px) {
  header .container .left ul {
    margin: 0 20px;
  }
}
@media (max-width: 768px) {
  header .container .left ul {
    display: none;
  }
}
header .container .left ul li {
  margin: 0 20px;
}
@media (max-width: 992px) {
  header .container .left ul li {
    margin: 0 10px;
  }
}
header .container .left ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
header .container .left ul li a:hover {
  border-bottom: 1px solid white;
}
header .container .right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 992px) {
  header .container .right {
    width: 40%;
  }
}
header .container .right .repost {
  background: url(../img/icons/rpst-dark.svg) no-repeat 50%/cover;
  margin-left: 25px;
  display: block;
  width: 130px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #333;
}
@media (max-width: 768px) {
  header .container .right .repost {
    display: none;
  }
}
header .container .right .tg {
  width: 130px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
@media (max-width: 992px) {
  header .container .right .tg {
    width: 40px;
    border-radius: 50%;
  }
}
header .container .right .tg:before {
  content: url("../img/icon-tg.svg");
  margin-right: 12px;
}
@media (max-width: 992px) {
  header .container .right .tg:before {
    margin-right: 0;
    margin-top: 5px;
  }
}
header .container .right .tg span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
@media (max-width: 992px) {
  header .container .right .tg span {
    display: none;
  }
}
header .container .right .searchbar-toggle-btn {
  display: flex;
  content: url("../img/search-white.png");
  cursor: pointer;
}
@media (max-width: 768px) {
  header .container .right .searchbar-toggle-btn {
    display: none;
  }
}
header .container .right .searchbar-toggle-btn.active {
  content: "";
}
header .container .right .searchbar-toggle-btn.active:before {
  width: 17px;
  height: 17px;
  content: "+";
  font-weight: 100;
  font-size: 35px;
  color: white;
  transform: rotate(45deg);
  line-height: 0.5;
  margin-bottom: 3px;
}
header .container .right .burger-btn {
  display: none;
  width: 27px;
  height: 18px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .container .right .burger-btn {
    display: flex;
    margin-left: 25px;
  }
}
header .container .right .burger-btn.active span {
  position: relative;
}
header .container .right .burger-btn.active span:first-child {
  display: none;
}
header .container .right .burger-btn.active span:nth-child(2) {
  transform: rotate(45deg);
  top: 8px;
}
header .container .right .burger-btn.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: -8px;
}
header .container .right .burger-btn span {
  width: 100%;
  height: 2px;
  content: "";
  background-color: white;
}
header .container .search-form-wrapper, header .container .mob-nav {
  display: none;
}
header .container .search-form-wrapper.active {
  display: flex;
  width: 100%;
  height: 50px;
}
header .container .search-form-wrapper.active form {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
header .container .search-form-wrapper.active form label {
  width: 100%;
}
header .container .search-form-wrapper.active form label input {
  display: block;
  padding: 15px;
  border: none;
  outline: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  color: #fff;
  background: transparent;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
header .container .search-form-wrapper.active form label input::placeholder {
  color: #fff;
}
header .container .search-form-wrapper.active form .search-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: url("../img/search-white.png");
  background: transparent;
  padding: 0;
  border: none;
  display: flex;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .container .mob-nav.active {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  header .container .mob-nav.active ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  header .container .mob-nav.active ul li {
    margin: 0 20px;
  }
  header .container .mob-nav.active ul li a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
  }
}

/*Footer*/
footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer .container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #EDEDED;
}
@media (max-width: 568px) {
  footer .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
footer .container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  footer .container .top {
    flex-direction: column;
    align-items: flex-start;
  }
}
footer .container .top .logo {
  width: 131px;
}
footer .container .top .logo img {
  width: 100%;
  height: auto;
}
footer .container .top ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 500px) {
  footer .container .top ul {
    flex-direction: column;
    margin-top: 15px;
  }
}
footer .container .top ul li {
  margin: 0 20px;
}
@media (max-width: 500px) {
  footer .container .top ul li {
    margin: 0 0 15px 0;
  }
  footer .container .top ul li:last-child {
    margin-bottom: 0;
  }
}
footer .container .top ul li a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */
  color: #000000;
}
footer .container .bottom {
  margin-top: 20px;
}
footer .container .bottom p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */
  color: #666666;
  margin: 0;
}

/*First screen*/
.first-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 992px) {
  .first-screen {
    min-height: unset;
    height: auto;
  }
}
.first-screen .top {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 206px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 992px) {
  .first-screen .top {
    height: auto;
    min-height: 480px;
  }
}
.first-screen .top .left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .first-screen .top .left {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 20px;
    z-index: 5;
    height: fit-content;
  }
}
.first-screen .top .left h1 {
  font-family: "Oranienbaum", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 100%;
  /* identical to box height, or 70px */
  color: #FFFFFF;
  margin: 0 0 10px 0;
}
@media (max-width: 992px) {
  .first-screen .top .left h1 {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .first-screen .top .left h1 {
    text-align: center;
  }
}
.first-screen .top .left .sub-title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  /* identical to box height, or 21px */
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .first-screen .top .left .sub-title {
    text-align: center;
  }
}
.first-screen .top .left p {
  font-family: "Oranienbaum", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 110%;
  /* or 28px */
  color: #FFFFFF;
  margin: 50px 0 0 0;
}
@media (max-width: 992px) {
  .first-screen .top .left p {
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .first-screen .top .left p {
    display: none;
  }
}
.first-screen .top .right {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 992px) {
  .first-screen .top .right img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .first-screen .top .right {
    width: 100%;
    z-index: 1;
  }
}
.first-screen .bottom {
  width: 100%;
  min-height: 206px;
  display: flex;
  justify-content: center;
  background: linear-gradient(270deg, #1C1C1A 50%, #464646 100%);
  backdrop-filter: blur(10px);
}
.first-screen .bottom .statistic-list {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .first-screen .bottom .statistic-list {
    justify-content: center;
  }
}
.first-screen .bottom .statistic-list .statistic-item {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  padding-right: 70px;
  padding-top: 45px;
}
@media (max-width: 992px) {
  .first-screen .bottom .statistic-list .statistic-item {
    padding: 30px 20px 30px 0;
  }
}
@media (max-width: 768px) {
  .first-screen .bottom .statistic-list .statistic-item {
    width: 50%;
  }
}
@media (max-width: 568px) {
  .first-screen .bottom .statistic-list .statistic-item {
    width: 100%;
    padding-bottom: 0;
  }
  .first-screen .bottom .statistic-list .statistic-item:last-child {
    padding-bottom: 30px;
  }
}
.first-screen .bottom .statistic-list .statistic-item h3 {
  font-family: "Oranienbaum", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 110%;
  /* identical to box height, or 55px */
  color: #FFFFFF;
  margin: 0 0 10px 0;
}
@media (max-width: 1200px) {
  .first-screen .bottom .statistic-list .statistic-item h3 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .first-screen .bottom .statistic-list .statistic-item h3 {
    text-align: center;
  }
}
@media (max-width: 568px) {
  .first-screen .bottom .statistic-list .statistic-item h3 {
    font-size: 30px;
  }
}
.first-screen .bottom .statistic-list .statistic-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 130%;
  /* or 19px */
  color: #CACACA;
  margin: 0;
}
@media (max-width: 768px) {
  .first-screen .bottom .statistic-list .statistic-item p {
    text-align: center;
    font-size: 14px;
  }
}

/*Second screen*/
.second-screen {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
@media (max-width: 768px) {
  .second-screen {
    padding-top: 30px;
  }
}
.second-screen .container {
  flex-wrap: wrap;
}
.second-screen .container .left {
  width: calc(100% - 285px);
}
@media (max-width: 992px) {
  .second-screen .container .left {
    width: calc(100% - 245px);
  }
}
@media (max-width: 768px) {
  .second-screen .container .left {
    width: 100%;
    border-bottom: 1px solid #F3F3F3;
    margin-bottom: 20px;
    order: 2;
  }
}
.second-screen .container .left .content {
  width: 100%;
}
.second-screen .container .left .content h2, .second-screen .container .left .content h3, .second-screen .container .left .content h4, .second-screen .container .left .content h5, .second-screen .container .left .content h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  /* identical to box height, or 136% */
  color: #333333;
}
.second-screen .container .left .content p {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
}
.second-screen .container .left .posts-list {
  width: calc(100% + 30px);
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
}
.second-screen .container .left .posts-list .post-item {
  width: calc(33.33333% - 30px);
  margin: 0 15px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
@media (max-width: 992px) {
  .second-screen .container .left .posts-list .post-item {
    width: calc(50% - 30px);
  }
}
@media (max-width: 568px) {
  .second-screen .container .left .posts-list .post-item {
    width: 100%;
    flex-direction: row;
  }
}
.second-screen .container .left .posts-list .post-item img {
  width: 100%;
  height: 145px;
  object-fit: cover;
}
@media (max-width: 568px) {
  .second-screen .container .left .posts-list .post-item img {
    width: 104px;
    height: 100%;
    margin-right: 12px;
  }
}
@media (max-width: 568px) {
  .second-screen .container .left .posts-list .post-item .content {
    width: calc(100% - 116px);
  }
}
.second-screen .container .left .posts-list .post-item .content .top {
  margin: 5px 0 0 0;
}
@media (max-width: 568px) {
  .second-screen .container .left .posts-list .post-item .content .top {
    margin-top: 0;
  }
}
.second-screen .container .left .posts-list .post-item .content .top .category {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  /* identical to box height, or 183% */
  text-transform: uppercase;
  color: #1091FF;
}
@media (max-width: 568px) {
  .second-screen .container .left .posts-list .post-item .content .top .category {
    line-height: 12px;
  }
}
.second-screen .container .left .posts-list .post-item .content .top .breaker {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #777777;
  margin: 0 8px;
}
@media (max-width: 568px) {
  .second-screen .container .left .posts-list .post-item .content .top .breaker {
    line-height: 12px;
  }
}
.second-screen .container .left .posts-list .post-item .content .top .date {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #777777;
}
@media (max-width: 568px) {
  .second-screen .container .left .posts-list .post-item .content .top .date {
    line-height: 12px;
  }
}
.second-screen .container .left .posts-list .post-item .content h5 {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  /* or 129% */
  color: #333333;
  margin: 0;
}
@media (max-width: 568px) {
  .second-screen .container .left .posts-list .post-item .content h5 {
    font-size: 16px;
    line-height: 20px;
  }
}
.second-screen .container .right {
  width: 285px;
  padding-left: 30px;
}
@media (max-width: 992px) {
  .second-screen .container .right {
    width: 245px;
  }
}
@media (max-width: 768px) {
  .second-screen .container .right {
    width: 100%;
    padding-left: 0;
    margin-bottom: 50px;
    order: 1;
  }
}
.second-screen .container .right h2, .second-screen .container .right h3, .second-screen .container .right h4, .second-screen .container .right h5, .second-screen .container .right h6 {
  margin-top: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 30px;
  /* identical to box height, or 136% */
  color: #333333;
}
.second-screen .container .right p {
  margin-top: 0;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* or 154% */
  color: #333333;
}

/*# sourceMappingURL=brand.css.map */
