@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
@import url("https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap");
@font-face {
  font-family: "TT Commons";
  src: url(../fonts/TTCommons-Medium.woff2) format("woff2"), url(../fonts/TTCommons-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Medium.woff2) format("woff2"), url(../fonts/Raleway-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-SemiBold.woff2) format("woff2"), url(../fonts/Raleway-SemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Bold.woff2) format("woff2"), url(../fonts/Raleway-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Regular.woff2) format("woff2"), url(../fonts/Raleway-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Commons";
  src: url(../fonts/TTCommons-Regular.woff2) format("woff2"), url(../fonts/TTCommons-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*# sourceMappingURL=fonts.css.map */
