*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px white;
}

*::-webkit-scrollbar-thumb {
	background-color: black;
}

:root {
	--h1: 34px;
	--h2: 30px;
	--h3: 28px;
	--h4: 20px;
	--h5: 14px;
	--p1: 16px;
	--p2: 14px;
	--p3: 13px;
	--p4: 10px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

main {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
}

blockquote {
	padding: 15px 30px;
	background-color: #fff9e7;
	margin-bottom: 20px;
}

.main-post-img {
	margin-top: 0px;
}

blockquote p {
	margin-bottom: 0px !important;
}

.author-content a {
	font-size: 16px !important;
	margin-bottom: 0 !important;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
	-webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type=checkbox],
[type=radio] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto;
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none !important;
}

.page-template-template-home {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 70px;
}

.home-page {
	margin: 0 auto;
	/*Section left*/
	/*Section right*/
}

.home-page .main-banner {
	margin: 20px 0;
}

.home-page .main-banner .container {
	margin-right: 0px;
}

@media (max-width: 568px) {
	.home-page .main-banner .container {
		padding: 0;
	}
}

.home-page .container {
	margin: 0 30px;
}

@media (max-width: 568px) {
	.home-page .container {
		margin: 0;
		padding: 0 15px;
	}
}

.home-page .image {
	object-fit: cover;
}

.home-page .section-title {
	font-family: "Roboto", Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
}

.home-page .button {
	font-family: "Roboto", Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	width: 100%;
	color: #3F5299;
	background-color: rgba(69, 69, 69, 0.2);
	border: none;
	padding: 20px 0;
	cursor: pointer;
	transition: 0.5s all;
}

.home-page .button:hover {
	color: white;
	background-color: rgba(69, 69, 69, 0.6);
}

.home-page .main-post-title {
	font-family: "Oranienbaum", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: #151515;
}

@media (max-width: 1200px) {
	.home-page .main-post-title {
		font-size: 24px;
	}
}

.home-page .main-post-desc {
	font-family: "Roboto", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	display: none;
}

.home-page .small-post-title {
	font-family: "Roboto", Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
}

.home-page .date {
	font-family: "Roboto", Arial, sans-serif Condensed;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	display: flex;
	align-items: center;
	display: none;
}

.home-page .small-post-desc {
	display: none;
	margin: 0;
}

.home-page .main-post-wrapper {
	margin-bottom: 30px;
}

.home-page .main-post-wrapper .desc-wrapper {
	border-bottom: 1px solid #EEEEEE;
}

.home-page .main-post-wrapper .main-post-desc {
	color: #A6A6A6;
}

.home-page .main-post-wrapper .img {
	height: 232px;
}

@media (max-width: 768px) {
	.home-page .main-post-wrapper .img {
		height: unset;
	}
}

.home-page .main-post-wrapper .img .image {
	height: 100%;
	width: 100%;
}

.home-page .small-post-wrapper {
	display: flex;
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.home-page .small-post-wrapper:hover {
	color: #151515;
}

.home-page .small-post-wrapper .img {
	width: 100%;
	min-width: 100px;
	margin-right: 15px;
}

@media (max-width: 768px) {
	.home-page .small-post-wrapper .img {
		width: 300px;
	}
}

@media (max-width: 568px) {
	.home-page .small-post-wrapper .img {
		width: 100px;
	}
}

.home-page .small-post-wrapper .img img {
	width: 100%;
	height: 168px;
	object-fit: cover;
}

@media (max-width: 1200px) {
	.home-page .small-post-wrapper .img img {
		height: 130px;
	}
}

@media (max-width: 568px) {
	.home-page .small-post-wrapper .img img {
		height: 62px;
	}
}

@media (max-width: 768px) {
	.home-page .small-post-wrapper .desc-wrapper {
		width: calc(100% - 300px);
	}
}

@media (max-width: 568px) {
	.home-page .small-post-wrapper .desc-wrapper {
		width: calc(100% - 100px);
	}
}

.home-page .section-left {
	width: 270px;
	min-width: 270px;
	border: 1px solid #EEEEEE;
	padding-top: 30px;
}

@media (max-width: 1000px) {
	.home-page .section-left {
		display: none;
	}
}

.home-page .section-left h3 {
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	/* identical to box height */
	color: #151515;
	margin: 0;
	padding: 0 15px;
}

.home-page .section-left .post {
	padding: 20px 15px;
	border-bottom: 1px solid #EEEEEE;
}

.home-page .section-left .post .small-post-title {
	color: #151515;
	display: block;
	font-size: 14px;
}

.home-page .section-left .post .small-post-title:visited {
	color: #151515;
}

.home-page .section-left .post .date {
	display: block;
	margin: 0 0 10px 0;
}

.home-page .section-right {
	width: 920px;
}

@media (max-width: 1200px) {
	.home-page .section-right {
		width: 720px;
	}
}

@media (max-width: 1000px) {
	.home-page .section-right {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.home-page .section-right .main-section .container {
		margin: 0;
	}

	.home-page .section-right .main-section .container .section-title {
		display: none;
	}

	.home-page .section-right .main-section .small-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: -30px;
		padding-left: 30px;
	}

	.home-page .section-right .main-section .small-container .small-post-wrapper {
		width: 33.33%;
		flex-direction: column;
		padding: 15px;
		margin-bottom: 0;
	}

	.home-page .section-right .main-section .small-container .small-post-wrapper:nth-child(3n-1) {
		border-right: 1px solid #EEEEEE;
		border-left: 1px solid #EEEEEE;
	}

	.home-page .section-right .main-section .small-container .small-post-wrapper:nth-child(1), .home-page .section-right .main-section .small-container .small-post-wrapper:nth-child(4n) {
		padding-left: 30px;
	}

	.home-page .section-right .main-section .small-container .small-post-wrapper .date {
		display: block;
		margin: 10px 0;
	}

	.home-page .section-right .main-section .small-container .loadmore-add-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
	}

	.home-page .section-right .main-section .small-container .loadmore-add-container .small-post-wrapper {
		width: 33.33%;
		flex-direction: column;
		padding: 15px;
		margin-bottom: 0;
	}

	.home-page .section-right .main-section .small-container .loadmore-add-container .small-post-wrapper:nth-child(3n-1) {
		border-right: 1px solid #EEEEEE;
		border-left: 1px solid #EEEEEE;
	}

	.home-page .section-right .main-section .small-container .loadmore-add-container .small-post-wrapper:nth-child(1), .home-page .section-right .main-section .small-container .loadmore-add-container .small-post-wrapper:nth-child(4n) {
		padding-left: 30px;
	}

	.home-page .section-right .main-section .small-container .loadmore-add-container .small-post-wrapper .date {
		display: block;
		margin: 10px 0;
	}

	.home-page .section-right .main-section .main-post-wrapper {
		display: flex;
		padding: 20px 0 20px 30px;
		border-top: 1px solid #EEEEEE;
		border-bottom: 1px solid #EEEEEE;
		margin-bottom: 0;
	}

	.home-page .section-right .main-section .main-post-wrapper .img {
		height: auto;
		margin-right: 30px;
		width: 60%;
		min-height: 292px;
	}

	.home-page .section-right .main-section .main-post-wrapper .img .image {
		width: 100%;
		max-width: 100%;
	}

	.home-page .section-right .main-section .main-post-wrapper .container {
		width: 40%;
	}

	.home-page .section-right .main-section .main-post-wrapper .container .desc-wrapper {
		border-bottom: none;
	}

	.home-page .section-right .main-section .main-post-wrapper .desc-wrapper .main-post-title {
		margin-top: 0;
	}

	.home-page .section-right .main-section .main-post-wrapper .desc-wrapper .main-post-desc {
		display: block;
		margin-bottom: 0px;
	}
}

.home-page .section-right .video-section {
	background-color: #222222;
	color: #FFFFFF;
	padding-bottom: 20px;
	margin-left: 15px;
}

@media (max-width: 1000px) {
	.home-page .section-right .video-section {
		margin-left: 0;
	}
}

.home-page .section-right .video-section .section-title-wrapper h3 {
	display: flex;
	align-items: center;
}

.home-page .section-right .video-section .section-title-wrapper h3:after {
	width: 24px;
	height: 24px;
	display: block;
	content: "";
	background-image: url("../img/play-img.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 6px;
}

.home-page .section-right .video-section .image-container {
	position: relative;
}

.home-page .section-right .video-section .image-container .play-btn {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(41, 126, 225, 0.2);
	justify-content: center;
	align-items: center;
	display: none;
}

.home-page .section-right .video-section .image-container .play-btn .blue-play-btn {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.home-page .section-right .video-section .image-container:hover .play-btn {
	display: flex;
}

.home-page .section-right .video-section .image-container:hover .play-link {
	display: none;
}

.home-page .section-right .video-section .small-post-wrapper {
	border-bottom: 1px solid #333333;
}

.home-page .section-right .video-section .small-post-wrapper img {
	width: 100%;
	height: 168px;
	object-fit: cover;
}

@media (max-width: 1200px) {
	.home-page .section-right .video-section .small-post-wrapper img {
		height: 130px;
	}
}

@media (max-width: 568px) {
	.home-page .section-right .video-section .small-post-wrapper img {
		height: 62px;
	}
}

.home-page .section-right .video-section .small-image-container {
	position: relative;
	display: flex;
	width: 25%;
	min-width: 100px;
	margin-right: 15px;
}

@media (max-width: 768px) {
	.home-page .section-right .video-section .small-image-container {
		width: 300px;
	}
}

@media (max-width: 568px) {
	.home-page .section-right .video-section .small-image-container {
		width: 100px;
		height: 62px;
	}
}

.home-page .section-right .video-section .small-image-container .play-btn {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(41, 126, 225, 0.2);
	justify-content: center;
	align-items: center;
	display: none;
}

.home-page .section-right .video-section .small-image-container .play-btn .blue-play-btn {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.home-page .section-right .video-section .small-image-container:hover .play-btn {
	display: flex;
}

.home-page .section-right .video-section .small-image-container:hover .play-link {
	display: none;
}

.home-page .section-right .video-section .small-image-container .image {
	width: 100%;
	height: 100%;
}

.home-page .section-right .video-section .small-image-container .play-link {
	left: 5px;
	bottom: 5px;
}

.home-page .section-right .video-section .small-image-container .play-link .text {
	display: none;
}

.home-page .section-right .video-section .desc-wrapper {
	border-bottom: none;
}

@media (max-width: 768px) {
	.home-page .section-right .video-section .desc-wrapper {
		width: calc(100% - 300px);
	}
}

@media (max-width: 568px) {
	.home-page .section-right .video-section .desc-wrapper {
		width: calc(100% - 100px);
	}
}

.home-page .section-right .video-section .desc-wrapper .main-post-title, .home-page .section-right .video-section .desc-wrapper .small-post-title {
	color: white;
}

.home-page .section-right .video-section .main-post-title {
	padding-bottom: 35px;
	border-bottom: 1px solid #333333;
}

.home-page .section-right .video-section .play-link {
	position: absolute;
	bottom: 15px;
	left: 15px;
	display: flex;
	align-items: center;
	font-family: "Roboto", Arial, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 29px;
	color: #FFFFFF;
}

.home-page .section-right .video-section .play-link:visited {
	color: #FFFFFF;
}

.home-page .section-right .video-section .play-link .text {
	margin-right: 7px;
}

.home-page .section-right .video-section .play-link .play-logo {
	width: 20px;
	height: 20px;
}

.home-page .section-right .video-section .section-title-wrapper {
	display: flex;
	align-items: center;
}

.home-page .section-right .video-section .section-title-wrapper .section-title {
	margin-right: 7px;
}

.home-page .section-right .video-section .section-title-wrapper .play-logo {
	width: 27px;
	height: 27px;
}

@media (min-width: 768px) {
	.home-page .section-right .video-section {
		padding: 20px 20px 20px 30px;
	}

	.home-page .section-right .video-section .text {
		font-size: 16px;
		display: block;
	}

	.home-page .section-right .video-section .container {
		margin: 0;
	}

	.home-page .section-right .video-section .image-container {
		height: 100%;
		height: 292px;
		display: flex;
		position: relative;
	}

	.home-page .section-right .video-section .image-container > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.home-page .section-right .video-section .small-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	.home-page .section-right .video-section .small-container .small-post-wrapper {
		width: 33.33%;
		flex-direction: column;
		padding: 15px;
		margin-bottom: 0;
		border-bottom: none;
	}

	.home-page .section-right .video-section .small-container .small-post-wrapper .date {
		color: #A6A6A6;
	}

	.home-page .section-right .video-section .small-container .small-post-wrapper .small-image-container {
		width: 100%;
		min-height: 167px;
	}

	.home-page .section-right .video-section .small-container .small-post-wrapper .small-image-container .image {
		width: 100%;
		max-width: 100%;
	}

	.home-page .section-right .video-section .small-container .small-post-wrapper:nth-child(3n-1) {
		border-right: 1px solid #333333;
		border-left: 1px solid #333333;
	}

	.home-page .section-right .video-section .small-container .small-post-wrapper .date {
		display: block;
		margin: 10px 0;
	}

	.home-page .section-right .video-section .main-post-wrapper {
		display: flex;
		padding: 22px 0;
		border-top: 1px solid #333333;
		border-bottom: 1px solid #333333;
		margin-bottom: 0;
	}

	.home-page .section-right .video-section .main-post-wrapper .img {
		height: 292px;
		margin-right: 30px;
		width: 60%;
	}

	.home-page .section-right .video-section .main-post-wrapper .img .image {
		width: 100%;
		max-width: 100%;
	}

	.home-page .section-right .video-section .main-post-wrapper .video-wrapper {
		width: 60%;
		margin-right: 30px;
		max-width: 470px;
	}

	.home-page .section-right .video-section .main-post-wrapper .desc-section-wrapper {
		width: 40%;
	}

	.home-page .section-right .video-section .main-post-wrapper .container .desc-wrapper {
		border-bottom: none;
	}

	.home-page .section-right .video-section .main-post-wrapper .desc-wrapper .main-post-title {
		margin: 0 0 15px 0;
		padding: 0;
		border-bottom: none;
	}

	.home-page .section-right .video-section .main-post-wrapper .desc-wrapper .main-post-desc {
		display: block;
		margin-bottom: 0;
	}

	.home-page .section-right .video-section .small-video-wrapper {
		display: flex;
	}
}

.home-page .section-right .popular-section .main-post-desc {
	display: block;
}

@media (max-width: 768px) {
	.home-page .section-right .popular-section img {
		width: 100%;
		height: auto;
	}
}

@media (min-width: 768px) {
	.home-page .section-right .popular-section .main-post-wrapper {
		display: flex;
		margin-bottom: 20px;
		margin-left: -30px;
		padding: 0 0 20px 30px;
		border-bottom: 1px solid #EEEEEE;
	}

	.home-page .section-right .popular-section .main-post-wrapper .main-post-title {
		margin-top: 0;
	}

	.home-page .section-right .popular-section .main-post-wrapper .main-post-desc {
		margin-bottom: 0;
	}

	.home-page .section-right .popular-section .main-post-wrapper .img {
		width: 60%;
		height: auto;
		min-height: 292px;
		margin-right: 30px;
	}

	.home-page .section-right .popular-section .main-post-wrapper .img .image {
		width: 100%;
		max-width: 100%;
	}

	.home-page .section-right .popular-section .main-post-wrapper .desc-wrapper {
		width: 40%;
		border-bottom: none;
	}
}

.home-page .section-right .people-section .main-post-wrapper {
	display: none;
}

@media (min-width: 768px) {
	.home-page .section-right .people-section .container {
		margin-right: 0;
	}

	.home-page .section-right .people-section .main-post-wrapper {
		position: relative;
		height: 537px;
		display: flex;
		overflow: hidden;
	}

	.home-page .section-right .people-section .main-post-wrapper .img {
		height: 100%;
		width: 100%;
	}

	.home-page .section-right .people-section .main-post-wrapper .description-wrapper {
		position: absolute;
		bottom: 30px;
		left: 30px;
		color: #FFFFFF;
		font-family: "Roboto", Arial, sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 30px;
		line-height: 36px;
	}

	.home-page .section-right .people-section .main-post-wrapper .description-wrapper .title {
		margin: 0 0 10px 0;
	}

	.home-page .section-right .people-section .main-post-wrapper .description-wrapper .sub-title {
		font-size: 14px;
		line-height: 20px;
		margin: 0;
	}

	.home-page .section-right .people-section .second-post-wrapper {
		display: flex;
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #EEEEEE;
	}

	.home-page .section-right .people-section .second-post-wrapper:first-child {
		display: none;
	}

	.home-page .section-right .people-section .second-post-wrapper .main-post-title {
		margin-top: 0;
	}

	.home-page .section-right .people-section .second-post-wrapper .main-post-desc {
		display: block;
		margin-bottom: 0;
		color: #151515;
	}

	.home-page .section-right .people-section .second-post-wrapper .img {
		height: auto;
		margin-right: 30px;
		width: 60%;
		max-width: 470px;
		min-height: 292px;
	}

	.home-page .section-right .people-section .second-post-wrapper .img .image {
		width: 100%;
		max-width: 100%;
		height: 100%;
	}

	.home-page .section-right .people-section .second-post-wrapper .desc-wrapper {
		width: 40%;
	}
}

@media (min-width: 768px) {
	.home-page {
		display: flex;
	}

	.home-page .small-post-title {
		font-size: 14px;
	}
}

ul {
	padding: 0;
}

ul li {
	list-style: none;
}

a {
	color: #151515;
}

a:visited {
	color: #151515;
}

a:active {
	color: #151515;
}

.main-header {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	z-index: 1000;
}

.main-header .container {
	width: 1190px;
	height: 100%;
	display: flex;
	background-color: #FFFFFF;
	z-index: 100;
}

@media (max-width: 1200px) {
	.main-header .container {
		width: 990px;
	}
}

@media (max-width: 1000px) {
	.main-header .container {
		width: 100%;
		padding-left: 30px;
		padding-right: 15px;
	}
}

@media (max-width: 568px) {
	.main-header .container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.main-header .container .main-header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.main-header .container .main-header__inner .left-side {
	margin-right: 20px;
}

.main-header .container .main-header__inner .left-side .btn-wrapper {
	height: 25px;
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 24px;
}

.main-header .container .main-header__inner .left-side .burger-btn {
	position: relative;
	width: 24px;
	height: 2px;
	background-color: #000000;
	transition: 0.3s;
}

.main-header .container .main-header__inner .left-side .burger-btn:before {
	content: "";
	position: absolute;
	width: 24px;
	height: 2px;
	background-color: #000000;
	top: 8px;
	transition: 0.3s;
}

.main-header .container .main-header__inner .left-side .burger-btn:after {
	content: "";
	position: absolute;
	width: 24px;
	height: 2px;
	background-color: #000000;
	bottom: 8px;
	transition: 0.3s;
}

.main-header .container .main-header__inner .left-side .btn-active .burger-btn {
	width: 0;
}

.main-header .container .main-header__inner .left-side .btn-active .burger-btn:before {
	top: 0;
	transform: rotate(45deg);
}

.main-header .container .main-header__inner .left-side .btn-active .burger-btn:after {
	bottom: 0;
	transform: rotate(-45deg);
}

.main-header .container .main-header__inner .center {
	margin-top: 6px;
}

.main-header .container .main-header__inner .center .img-wrapper img {
	width: 100px;
}

.main-header .container .main-header__inner .right-side {
	display: flex;
	margin: 0 0 0 auto;
}

.main-header .container .main-header__inner .right-side .tbc-btn {
	border-radius: 5px;
	padding: 10px 20px;
	color: white;
	margin-right: 10px;
}

.main-header .container .main-header__inner .right-side .video-button {
	display: flex;
	align-items: center;
	border: 1px solid #EEEEEE;
	padding: 12px 15px;
	border-radius: 5px;
}

@media (max-width: 568px) {
	.main-header .container .main-header__inner .right-side .video-button {
		display: none;
	}
}

.main-header .container .main-header__inner .right-side .video-button .section-title {
	font-size: 16px;
	margin: 0 5px 0 0;
	color: #151515;
}

.main-header .container .main-header__inner .right-side .video-button .play-logo {
	width: 24px;
	height: 24px;
}

.main-header .container .main-header__inner .right-side .search-btn {
	display: none;
	padding: 0;
	position: relative;
	width: 24px;
}

.main-header .container .main-header__inner .right-side .search-btn .search {
	width: 24px;
	display: block;
}

.main-header .container .main-header__inner .right-side .search-btn:before {
	display: none;
	content: "";
	position: absolute;
	width: 24px;
	height: 2px;
	transform: rotate(45deg);
	background-color: #000000;
	top: 50%;
}

.main-header .container .main-header__inner .right-side .search-btn:after {
	display: none;
	content: "";
	position: absolute;
	width: 24px;
	height: 2px;
	transform: rotate(-45deg);
	background-color: #000000;
	top: 50%;
}

.main-header .container .main-header__inner .right-side .search-btn-active:after {
	display: block;
}

.main-header .container .main-header__inner .right-side .search-btn-active:before {
	display: block;
}

.main-header .container .main-header__inner .right-side .search-btn-active .search {
	display: none;
}

@media (min-width: 768px) {
	.main-header .container .main-header__inner .right-side .video-button {
		display: none;
	}

	.main-header .container .main-header__inner .right-side .search-btn {
		display: block;
		border: none;
		background-color: transparent;
		outline: none;
		cursor: pointer;
	}
}

.main-header .burger-menu {
	position: absolute;
	background-color: #FFFFFF;
	top: -100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 10;
	transition: 0.5s;
}

.main-header .burger-menu .search-field {
	width: calc(100% - 36px);
	display: flex;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 20px;
}

.main-header .burger-menu .search-field .search {
	border: none;
	margin: 0 18px;
	padding-bottom: 10px;
	width: 100%;
	outline: none;
}

.main-header .burger-menu .search-field button {
	background-image: url(../img/search-dark.png);
	background-color: transparent;
	background-position: center;
	background-size: 18px;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
}

@media (min-width: 768px) {
	.main-header .burger-menu .burger-search {
		display: none;
	}
}

.main-header .burger-menu ul {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.main-header .burger-menu ul li {
	position: relative;
	display: flex;
	justify-content: center;
}

.main-header .burger-menu ul li::after {
	content: "";
	position: absolute;
	width: 0%;
	height: 1px;
	background-color: #151515;
	bottom: -10px;
	transition: 0.3s;
}

.main-header .burger-menu ul li:hover::after {
	width: 100%;
}

.main-header .search-menu-active {
	top: 100%;
}

.main-header .menu-active {
	top: 100%;
}

@media (min-width: 768px) {
	.main-header {
		border-bottom: 1px solid #EEEEEE;
	}
}

.admin-bar .main-header {
	margin-top: 32px;
}

.main-footer {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #E0E0E0;
	padding: 10px 0;
	margin-top: 13px;
}

.main-footer .container {
	width: 1190px;
}

@media (max-width: 1200px) {
	.main-footer .container {
		width: 990px;
	}
}

@media (max-width: 1000px) {
	.main-footer .container {
		width: 100%;
		padding-left: 30px;
		padding-right: 15px;
	}
}

@media (max-width: 568px) {
	.main-footer .container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.main-footer .container .telegram-section {
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	color: #FFFFFF;
}

.main-footer .container .telegram-section img {
	width: 30px;
}

.main-footer .container .telegram-section .text {
	font-size: 16px;
}

.main-footer .container .telegram-section .btn {
	background-color: #FFFFFF;
	color: #000;
	padding: 10px 15px;
	border: none;
	border-radius: 0;
	font-size: 14px;
}

@media (min-width: 768px) {
	.main-footer .container .telegram-section {
		display: none;
	}
}

.main-footer .container .main-footer__inner .top-wrapper {
	display: flex;
	border-bottom: 1px solid #CFCDCD;
	margin-bottom: 26px;
	margin-top: 30px;
}

.main-footer .container .main-footer__inner .top-wrapper .left-section {
	width: 50%;
	border-right: 1px solid #CFCDCD;
}

.main-footer .container .main-footer__inner .top-wrapper .left-section .img-wrapper {
	margin-bottom: 50px;
	display: block;
}

.main-footer .container .main-footer__inner .top-wrapper .left-section .img-wrapper img {
	width: 100px;
}

.main-footer .container .main-footer__inner .top-wrapper .left-section .social {
	display: flex;
	justify-content: flex-start;
}

.main-footer .container .main-footer__inner .top-wrapper .left-section .social .social-link {
	width: 30px;
	height: 30px;
	border: 1px solid #CFCDCD;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.main-footer .container .main-footer__inner .top-wrapper .right-section {
	margin-left: 20px;
}

.main-footer .container .main-footer__inner .top-wrapper .right-section .page-link,
.main-footer .right-section ul li a {
	margin-bottom: 20px;
	display: block;
	font-family: "Oranienbaum", serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
}

.main-footer .container .main-footer__inner .bot-wrapper .copyright {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	color: #151515;
}

.main-footer .container .main-footer__inner .bot-wrapper .feetback {
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
}

.single .tbc-btn {
	display: none;
}

/*# sourceMappingURL=home.css.map */
