@import "variables";

* {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;

  }
}

:root {
  --h1: 34px;
  --h2: 30px;
  --h3: 28px;
  --h4: 20px;
  --h5: 14px;
  --p1: 16px;
  --p2: 14px;
  --p3: 13px;
  --p4: 10px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

blockquote {
  padding: 15px 30px;
  background-color: #fff9e7;
  margin-bottom: 20px;
}

.main-post-img {
  margin-top: 0px;

}

blockquote p {
  margin-bottom: 0px !important;
}

.author-content a {
  font-size: 16px !important;
  margin-bottom: 0 !important;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none !important;
}


// home-page
.page-template-template-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 70px;
}

.home-page {
  margin: 0 auto;

  .main-banner {
    margin: 20px 0;

    .container {
      margin-right: 0px;

      @media (max-width: 568px) {
        padding: 0;
      }
    }
  }

  .container {
    margin: 0 30px;

    @media (max-width: 568px) {
      margin: 0;
      padding: 0 15px;
    }
  }

  .image {
    object-fit: cover;
  }

  .section-title {
    font-family: $font-robot;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
  }

  .button {
    font-family: $font-robot;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    width: 100%;
    color: $blue-text;
    background-color: $light-gray-button;
    border: none;
    //border-bottom: $border-line;
    padding: 20px 0;

    cursor: pointer;

    transition: 0.5s all;

    &:hover {
      color: white;
      background-color: $light-gray-button-hover;
    }
  }

  .main-post-title {
    font-family: $font-ora;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: $dark-text;

    @media (max-width: 1200px) {
      font-size: 24px;
    }
  }

  .main-post-desc {
    font-family: $font-robot;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: none;
  }

  .small-post-title {
    font-family: $font-robot;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }

  .date {
    font-family: $font-robot Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    display: none;
  }

  .small-post-desc {
    display: none;
    margin: 0;
  }

  .main-post-wrapper {
    margin-bottom: 30px;

    .desc-wrapper {
      border-bottom: $border-line;
    }

    .main-post-title {

    }

    .main-post-desc {
      color: $dark-gray-text;
    }

    .img {
      height: 232px;

      @media (max-width: 768px) {
        height: unset;
      }

      .image {
        height: 100%;
        width: 100%;
      }
    }
  }

  .small-post-wrapper {
    display: flex;
    border-bottom: $border-line;
    padding-bottom: 15px;
    margin-bottom: 15px;

    &:hover {
      color: $dark-text;
    }

    .img {
      width: 100%;
      min-width: 100px;
      margin-right: 15px;

      @media (max-width: 768px) {
        width: 300px;
      }

      @media (max-width: 568px) {
        width: 100px;
      }

      img {
        width: 100%;
        height: 168px;

        object-fit: cover;

        @media (max-width: 1200px) {
          height: 130px;
        }

        @media (max-width: 568px) {
          height: 62px;
        }
      }
    }

    .desc-wrapper {
      @media (max-width: 768px) {
        width: calc(100% - 300px);
      }
      @media (max-width: 568px) {
        width: calc(100% - 100px);
      }
    }
  }


  /*Section left*/

  .section-left {
    width: 270px;
    min-width: 270px;

    border: $border-line;
    //background-color: #777777;
    //margin-right: 30px;

    padding-top: 30px;

    @media (max-width: 1000px) {
      display: none;
    }

    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      /* identical to box height */

      color: $dark-text;

      margin: 0;

      padding: 0 15px;

    }

    .post {
      padding: 20px 15px;
      border-bottom: $border-line;

      .small-post-title {
        color: $dark-text;
        display: block;
        font-size: 14px;

        &:visited {
          color: $dark-text;
        }
      }

      .date {
        display: block;
        margin: 0 0 10px 0;
      }
    }
  }


  /*Section right*/

  .section-right {
    width: 920px;

    @media (max-width: 1200px) {
      width: 720px;
    }

    @media (max-width: 1000px) {
      width: 100%;
    }

    .main-section {
      @media (min-width: 768px) {

        .container {
          margin: 0;

          .section-title {
            display: none;
          }
        }

        .small-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          margin-left: -30px;
          padding-left: 30px;


          .small-post-wrapper {
            width: 33.33%;
            flex-direction: column;
            padding: 15px;
            //border-right: $border-line;
            //border-top: $border-line;
            margin-bottom: 0;

            &:nth-child(3n-1) {
              border-right: $border-line;
              border-left: $border-line;
            }

            &:nth-child(1), &:nth-child(4n) {
              padding-left: 30px;
            }

            .date {
              display: block;
              margin: 10px 0;
            }
          }

          .loadmore-add-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            width: 100%;

            .small-post-wrapper {
              width: 33.33%;
              flex-direction: column;
              padding: 15px;
              //border-right: $border-line;
              //border-top: $border-line;
              margin-bottom: 0;

              &:nth-child(3n-1) {
                border-right: $border-line;
                border-left: $border-line;
              }

              &:nth-child(1), &:nth-child(4n) {
                padding-left: 30px;
              }

              .date {
                display: block;
                margin: 10px 0;
              }
            }
          }
        }

        .main-post-wrapper {
          display: flex;
          padding: 20px 0 20px 30px;
          border-top: $border-line;
          border-bottom: $border-line;
          margin-bottom: 0;

          .img {
            height: auto;
            margin-right: 30px;
            width: 60%;
            min-height: 292px;

            .image {
              width: 100%;
              max-width: 100%;
            }
          }

          .container {
            width: 40%;

            .desc-wrapper {
              border-bottom: none;
            }
          }

          .desc-wrapper {
            .main-post-title {
              margin-top: 0;
            }

            .main-post-desc {
              display: block;
              margin-bottom: 0px;
            }
          }
        }
      }
    }

    .video-section {
      background-color: $dark-gray-bg;
      color: #FFFFFF;
      padding-bottom: 20px;
      margin-left: 15px;

      @media (max-width: 1000px) {
        margin-left: 0;
      }

      .section-title-wrapper {
        h3 {
          display: flex;
          align-items: center;

          &:after {
            width: 24px;
            height: 24px;

            display: block;

            content: '';

            background-image: url("../img/play-img.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            margin-left: 6px;
          }
        }
      }

      .image-container {
        position: relative;

        .play-btn {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(41, 126, 225, 0.2);
          justify-content: center;
          align-items: center;
          display: none;

          .blue-play-btn {
            width: 50px;
            height: 50px;
            cursor: pointer;
          }
        }

        &:hover {
          .play-btn {
            display: flex;
          }

          .play-link {
            display: none;
          }
        }
      }

      .small-post-wrapper {
        border-bottom: $border-line-video;

        img {
          width: 100%;
          height: 168px;
          object-fit: cover;

          @media (max-width: 1200px) {
            height: 130px;
          }

          @media (max-width: 568px) {
            height: 62px;
          }
        }
      }

      .small-image-container {
        position: relative;
        display: flex;
        width: 25%;
        min-width: 100px;
        margin-right: 15px;

        @media (max-width: 768px) {
          width: 300px;
        }

        @media (max-width: 568px) {
          width: 100px;
          height: 62px;
        }

        .play-btn {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(41, 126, 225, 0.2);
          justify-content: center;
          align-items: center;
          display: none;

          .blue-play-btn {
            width: 50px;
            height: 50px;
            cursor: pointer;
          }
        }

        &:hover {
          .play-btn {
            display: flex;
          }

          .play-link {
            display: none;
          }
        }

        .image {
          width: 100%;
          height: 100%;
        }

        .play-link {
          left: 5px;
          bottom: 5px;

          .text {
            display: none;
          }
        }
      }

      .desc-wrapper {
        border-bottom: none;

        @media (max-width: 768px) {
          width: calc(100% - 300px);
        }

        @media (max-width: 568px) {
          width: calc(100% - 100px);
        }


        .main-post-title, .small-post-title {
          color: white
        }
      }

      .main-post-title {
        padding-bottom: 35px;
        border-bottom: $border-line-video;
      }

      .play-link {
        position: absolute;
        bottom: 15px;
        left: 15px;
        display: flex;
        align-items: center;

        font-family: $font-robot;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 29px;
        color: #FFFFFF;

        &:visited {
          color: #FFFFFF;
        }

        .text {
          margin-right: 7px;
        }

        .play-logo {
          width: 20px;
          height: 20px;
        }
      }

      .section-title-wrapper {
        display: flex;
        align-items: center;

        .section-title {
          margin-right: 7px;
        }

        .play-logo {
          width: 27px;
          height: 27px;
        }
      }

      @media (min-width: 768px) {
        padding: 20px 20px 20px 30px;

        .text {
          font-size: 16px;
          display: block;
        }
        .container {
          margin: 0;

          .section-title {
          }
        }

        .image-container {
          height: 100%;
          height: 292px;

          display: flex;

          position: relative;

          & > img {
            width: 100%;
            height: 100%;

            object-fit: cover;
          }
        }

        .small-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 0 -15px;

          .small-post-wrapper {
            width: 33.33%;
            flex-direction: column;
            padding: 15px;
            //border-right: $border-line-video;
            //border-top: $border-line-video;
            margin-bottom: 0;
            border-bottom: none;

            .date {
              color: $dark-gray-text;
            }

            .small-image-container {
              width: 100%;
              min-height: 167px;

              .image {
                width: 100%;
                max-width: 100%;
              }

            }

            &:nth-child(3n-1) {
              border-right: $border-line-video;
              border-left: $border-line-video;
            }

            .date {
              display: block;
              margin: 10px 0;
            }
          }
        }

        .main-post-wrapper {
          display: flex;
          padding: 22px 0;
          border-top: $border-line-video;
          border-bottom: $border-line-video;
          margin-bottom: 0;

          .img {
            height: 292px;
            margin-right: 30px;
            width: 60%;

            .image {
              width: 100%;
              max-width: 100%;
            }
          }

          .title-section {

          }

          .video-wrapper {
            width: 60%;
            margin-right: 30px;
            max-width: 470px;
          }

          .desc-section-wrapper {
            width: 40%;
          }

          .container {
            //width: 40%;

            .desc-wrapper {
              border-bottom: none;
            }
          }

          .desc-wrapper {

            .main-post-title {
              margin: 0 0 15px 0;
              padding: 0;
              border-bottom: none;
            }

            .main-post-desc {
              display: block;
              margin-bottom: 0;
            }
          }
        }

        .small-video-wrapper {
          display: flex;
        }
      }
    }

    .popular-section {
      .main-post-desc {
        display: block;
      }

      img {
        @media (max-width: 768px) {
          width: 100%;
          height: auto;

        }
      }

      @media (min-width: 768px) {
        .main-post-wrapper {
          display: flex;

          margin-bottom: 20px;
          margin-left: -30px;
          padding: 0 0 20px 30px;

          border-bottom: $border-line;

          .main-post-title {
            margin-top: 0;
          }

          .main-post-desc {
            margin-bottom: 0;
          }

          .img {
            width: 60%;
            height: auto;
            min-height: 292px;

            margin-right: 30px;

            .image {
              width: 100%;
              max-width: 100%;
            }
          }

          .desc-wrapper {
            width: 40%;
            border-bottom: none;
          }
        }
      }
    }

    .people-section {

      .main-post-wrapper {
        display: none;
      }

      @media (min-width: 768px) {

        .container {
          margin-right: 0;
        }

        .main-post-wrapper {
          position: relative;
          height: 537px;
          display: flex;

          overflow: hidden;

          .img {
            height: 100%;
            width: 100%;
          }

          .description-wrapper {
            position: absolute;
            bottom: 30px;
            left: 30px;
            color: #FFFFFF;

            font-family: $font-robot;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;

            .title {
              margin: 0 0 10px 0;
            }

            .sub-title {
              font-size: 14px;
              line-height: 20px;
              margin: 0;
            }
          }

        }
        .second-post-wrapper {
          display: flex;
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: $border-line;

          &:first-child {
            display: none;
          }

          .main-post-title {
            margin-top: 0;
          }

          .main-post-desc {
            display: block;
            margin-bottom: 0;

            color: $dark-text;
          }

          .img {
            height: auto;
            margin-right: 30px;
            width: 60%;
            max-width: 470px;
            min-height: 292px;

            .image {
              width: 100%;
              max-width: 100%;
              height: 100%;
            }

          }

          .desc-wrapper {
            width: 40%;
          }
        }
      }
    }
  }

  @media (min-width: 768px) {
    display: flex;

    .small-post-title {
      font-size: 14px;
    }
  }
}


// header
ul {
  padding: 0;

  li {
    list-style: none;
  }
}

a {
  color: $dark-text;

  &:visited {
    color: $dark-text;
  }

  &:active {
    color: $dark-text;
  }
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;

  background-color: #FFFFFF;

  height: 70px;
  width: 100%;

  z-index: 1000;

  .container {
    width: 1190px;
    height: 100%;

    display: flex;

    background-color: #FFFFFF;
    z-index: 100;

    @media (max-width: 1200px) {
      width: 990px;
    }

    @media (max-width: 1000px) {
      width: 100%;
      padding-left: 30px;
      padding-right: 15px;
    }

    @media (max-width: 568px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .main-header__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .left-side {
        margin-right: 20px;

        .btn-wrapper {
          height: 25px;
          display: flex;
          align-items: center;
          cursor: pointer;
          width: 24px;
        }

        .burger-btn {
          position: relative;
          width: 24px;
          height: 2px;
          background-color: #000000;
          transition: .3s;

          &:before {
            content: '';
            position: absolute;
            width: 24px;
            height: 2px;
            background-color: #000000;
            top: 8px;
            transition: .3s;
          }

          &:after {
            content: '';
            position: absolute;
            width: 24px;
            height: 2px;
            background-color: #000000;
            bottom: 8px;
            transition: .3s;
          }
        }

        .btn-active {
          .burger-btn {
            width: 0;

            &:before {
              top: 0;
              transform: rotate(45deg);
            }

            &:after {
              bottom: 0;
              transform: rotate(-45deg);
            }
          }
        }
      }

      .center {
        margin-top: 6px;

        .img-wrapper {
          img {
            width: 100px;
          }
        }
      }

      .right-side {
        display: flex;

        .tbc-btn {
          border-radius: 5px;
          padding: 10px 20px;
          color: white;

          margin-right: 10px;
        }

        .video-button {
          display: flex;
          align-items: center;
          border: $border-line;
          padding: 12px 15px;
          border-radius: 5px;

          @media (max-width: 568px) {
            display: none;
          }

          .section-title {
            font-size: 16px;
            margin: 0 5px 0 0;
            color: $dark-text;
          }


          .play-logo {
            width: 24px;
            height: 24px;
          }
        }

        .search-btn {
          display: none;
          padding: 0;
          position: relative;
          width: 24px;

          .search {
            width: 24px;
            display: block;
          }

          &:before {
            display: none;
            content: '';
            position: absolute;
            width: 24px;
            height: 2px;
            transform: rotate(45deg);
            background-color: #000000;
            top: 50%;
          }

          &:after {
            display: none;
            content: '';
            position: absolute;
            width: 24px;
            height: 2px;
            transform: rotate(-45deg);
            background-color: #000000;
            top: 50%;
          }

        }

        .search-btn-active {
          &:after {
            display: block;
          }

          &:before {
            display: block;
          }

          .search {
            display: none;
          }
        }

        margin: 0 0 0 auto;

        @media (min-width: 768px) {
          .video-button {
            display: none;
          }

          .search-btn {
            display: block;
            border: none;
            background-color: transparent;
            outline: none;

            cursor: pointer;
          }
        }
      }

    }
  }

  .burger-menu {
    position: absolute;
    background-color: #FFFFFF;
    top: -100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    transition: .5s;

    .search-field {
      width: calc(100% - 36px);
      display: flex;
      border-bottom: $border-line;
      margin-bottom: 20px;

      .search {
        border: none;
        margin: 0 18px;
        padding-bottom: 10px;
        width: 100%;
        outline: none;
      }

      button {
        background-image: url(../img/search-dark.png);
        background-color: transparent;
        background-position: center;
        background-size: 18px;
        background-repeat: no-repeat;
        border: none;

        cursor: pointer;
      }
    }

    .burger-search {
      @media (min-width: 768px) {
        display: none;
      }
    }

    ul {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      li {
        position: relative;
        display: flex;
        justify-content: center;

        &::after {
          content: '';
          position: absolute;
          width: 0%;
          height: 1px;
          background-color: $dark-text;
          bottom: -10px;
          transition: .3s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .search-menu-active {
    top: 100%;
  }

  .menu-active {
    top: 100%;
  }

  @media (min-width: 768px) {
    border-bottom: $border-line;
  }
}

.admin-bar {
  .main-header {
    margin-top: 32px;
  }
}

// footer

.main-footer {
  display: flex;
  justify-content: center;

  width: 100%;

  background-color: $light-gray-bg;

  padding: 10px 0;
  margin-top: 13px;

  .container {
    width: 1190px;


    @media (max-width: 1200px) {
      width: 990px;
    }

    @media (max-width: 1000px) {
      width: 100%;
      padding-left: 30px;
      padding-right: 15px;
    }

    @media (max-width: 568px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .telegram-section {
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
      color: #FFFFFF;

      img {
        width: 30px;
      }

      .text {
        font-size: 16px;
      }

      .btn {
        background-color: #FFFFFF;
        color: #000;
        padding: 10px 15px;
        border: none;
        border-radius: 0;
        font-size: 14px;
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    .main-footer__inner {
      .top-wrapper {
        display: flex;
        border-bottom: $border-footer;
        margin-bottom: 26px;
        margin-top: 30px;

        .left-section {
          width: 50%;
          border-right: $border-footer;

          .img-wrapper {
            margin-bottom: 50px;
            display: block;

            img {
              width: 100px;
            }
          }

          .social {
            display: flex;
            justify-content: flex-start;

            .social-link {
              width: 30px;
              height: 30px;
              border: $border-footer;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 10px;
            }
          }
        }

        .right-section {
          margin-left: 20px;

          .page-link {
            margin-bottom: 20px;
            display: block;
            font-family: $font-ora;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
          }
        }
      }

      .bot-wrapper {

        .copyright {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          color: $dark-text;
        }

        .feetback {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px
        }
      }
    }
  }

}

.single {
  .tbc-btn {
    display: none;
  }
}

