:root {
    --h1: 34px;
    --h2: 30px;
    --h3: 28px;
    --h4: 20px;
    --h5: 14px;
    --p1: 16px;
    --p2: 14px;
    --p3: 13px;
    --p4: 10px;
} /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}

blockquote{
	padding: 15px 30px;
    background-color: #fff9e7;
	margin-bottom: 20px;
}

.main-post-img{
	margin-top: 0px;
	
}

blockquote p{
	margin-bottom: 0px !important;
}
.author-content a{
	font-size: 16px !important;
	margin-bottom: 0 !important;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	text-decoration: none !important;
}

.multiple-auth{
	border: 1px solid #eaeaea;
    padding: 15px;
    border-radius: 3px;
	margin: 20px 0;
}
.multiple-auth img{
    border-radius: 50%;

}

.tez{
	background: url("../img/icons/tez_static.svg") no-repeat 50%/cover;
	margin-left: 15px;
    display: block;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #c1c1c1;
}

.tez:hover {
    background: url("../img/icons/tez_hover.svg") no-repeat 50%/cover;
	border: 1px solid #cc3333;
}

.rpst{
	background: url("../img/icons/rpst-dark.svg") no-repeat 50%/cover;
	margin-left: 15px;
    display: block;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #333;
}

.rpst:hover {
    background: url("../img/icons/rpst-dark.svg") no-repeat 50%/cover;
	border: 1px solid #333;
}
.tbld{
	background: url("../img/icons/tbld.svg") no-repeat 50%/cover;
	margin-left: 15px;
    display: block;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #c1c1c1;
}

.tbld:hover {
    background: url("../img/icons/tbld-dark.svg") no-repeat 50%/cover;
	border: 1px solid #FABE07;
}


html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', Arial, sans-serif;
    overflow-x: hidden;
}
button {
    cursor: pointer;
    padding: 0;
    border: none;
    background: 0 0;
    outline: 0;
}
.overflow-hidden {
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    color: #1c1c1c;
}
h1 {
    font-size: var(--h1);
}
h2 {
    font-size: var(--h2);
}
h3 {
    font-size: var(--h3);
}
h4 {
    font-size: var(--h4);
}
h5 {
    font-size: var(--h5);
}
a {
    text-decoration: none;
    outline: 0;
}
p {
    line-height: 1.5;
    color: #333;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
img {
    display: block;
    max-width: 100%;
}
p.excerpt{
	font-size: 16px !important;
    color: #000;
    margin-bottom: 25px;
    line-height: 25px;
	font-weight: 500;
}
.section-title {
    font-size: 20px;
    color: #999;
    font-weight: 400;
}
.img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.img-wrapper img,
.img-wrapper picture {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.img-wrapper a{
	margin: 0 !important;
}

.post-date {
    font-size: 12px;
    font-weight: 500;
    color: #777;
    text-transform: none;
}
.load-more-link {
    margin-top: 30px;
    margin-bottom: 40px;
    display: inline-block !important;
    font-size: 14px !important;
    font-weight: 500;
    color: #333;
    padding: 16px 32px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    text-decoration: none !important;
}
.load-more-link:focus,
.load-more-link:hover {
    color: #fff;
    background-color: #333;
}
.banner-adfox{
	margin-bottom: 20px;
}
.mob-banner {
    margin-top: 30px;
    display: none;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 1130px;
}
.main-header {
    padding: 20px 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.main-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main-header__inner .logo {
    width: 160px;
    height: auto;
    margin-right: 65px;
    display: block;
}
.main-header__inner img {
    margin: 0;
}

.burger-btn {
    display: none;
    width: 26px;
    height: 26px;
}
.burger-btn .close {
    display: none;
}
.burger-btn.active .close {
    display: block;
}
.burger-btn.active .burger {
    display: none;
}
.mob-nav {
    display: none;
}
.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.main-menu__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.main-menu__item:not(:last-child) {
    margin-right: 40px;
}
.main-menu__item a {
    line-height: 1;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    color: #000;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    display: inline-block;
    border-bottom: 1px solid transparent;
}

.article-title{
    line-height: 38px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.main-menu__item-active {
    border-bottom: 1px solid #000;
}
.main-menu__item a.active,
.main-menu__item a:focus,
.main-menu__item a:hover {
    border-bottom: 1px solid #000;
}
.header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
}
.searchbar-toggle-btn .cancel-img {
    display: none;
    width: 17px;
    height: 17px;
}
.searchbar-toggle-btn.active .cancel-img {
    display: block;
}
.searchbar-toggle-btn.active .search-img {
    display: none;
}
.tg-link-wrapper {
    margin-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px 13px;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
	height: 40px;
}
.tg-link-wrapper .img-wrapper {
    margin-right: 10px;
}
.tg-link-wrapper span {
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    color: #000;
}
.search-form-wrapper {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.search-form-wrapper.active {
    height: 50px;
    visibility: visible;
}
.search-form-wrapper form {
    position: relative;
    width: 80%;
    margin: 0 auto;
}
.search-form-wrapper label {
    display: block;
    width: 100%;
}
.search-form-wrapper input {
    display: block;
    padding: 15px;
    border: none;
    outline: 0;
    width: 100%;
    border-bottom: 1px solid #999;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.search-form-wrapper input:focus {
    border-bottom: 1px solid #000;
}
.search-form-wrapper .search-btn {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.main-post {
    margin-bottom: 35px;
}
.main-post__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.main-post__right {
    max-width: calc(100% - 270px);
}
.main-post-ads {
    width: 240px;
}

.post-categories li{
    display: inline;
}


.main-post-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.main-post-right {
    margin-right: 30px;
    max-width: 535px;
}
 
.main-post-full {
    max-width: 100%;
	width: 100%;
}
.main-post-left{
	max-width: 270px;
}
.main-post-right > .img-wrapper {
    width: 100%;
}
.main-post-right > .img-wrapper img {
    width: 100%;
    height: 100%;
}
.main-post-right a {
    display: block;
    font-size: var(--h2);
    color: #1c1c1c;
    margin-bottom: 20px;
	margin-top: 15px;
    font-weight: 700;
    line-height: 33px;
}
.main-post-right a:focus,
.main-post-right a:hover {
    text-decoration: underline;
}
.main-post-right p {
    margin-bottom: 30px;
    font-size: var(--p2);
}
.related-post {
    padding: 15px 0;
    border-bottom: 1px solid #ededed;
}
.related-post:first-child {
    padding-top: 0;
}
.related-post a {
    display: block;
    color: #1c1c1c;
    font-weight: 500;
    font-size: var(--h5);
    line-height: 1.4;
    margin-bottom: 15px;
}
.related-post a:focus,
.related-post a:hover {
    text-decoration: underline;
}
.main-post-ads > .img-wrapper {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
}
.main-post-ads > .img-wrapper img {
    width: 100%;
}
.links-wrapper{
	margin-bottom: 10px;
}
.links-wrapper a {
    display: inline-block;
    font-size: 12px;
    color: #999;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.links-wrapper a:not(:last-child) {
    margin-right: 15px;
}
.links-wrapper a:focus,
.links-wrapper a:hover {
    color: #000;
}
.latest-news {
    margin-top: 30px;
}
.latest-news .container {
    padding: 0;
	padding-right: 40px;
}
.lates-news__inner {
    max-width: calc(100% - 270px);
    position: relative;
    z-index: 1;
}
.post {
    padding-top: 20px;
    padding-bottom: 15px;
    border-top: 1px solid #ededed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.quote-item .post__content {
    margin-top: -92px !important;
    margin-left: 0;
    padding-bottom: 8px;
    padding-top: 15px;
    padding-left: 15px;
    background: linear-gradient(0deg, rgba(11,11,11,0.7315301120448179) 0%, rgb(13 13 13 / 42%) 35%, rgb(9 9 9 / 0%) 100%);
}
.quote-item .post__content a{
	color: #fff;
	margin-bottom: 5px;
}
.quote-item .post__content .post-top span{
	color: #fff;
}
.page-desc{
	margin: 25px 0;
}
.page-desc p{
	font-size: 18px;
    color: #000;
    margin-bottom: 15px;
    line-height: 1.6em;
}


/******************QUOTE POP-UP*****************/

.myModal {
  	width: 1100px;
    height: 440px;
    background: #fafafa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    z-index: 38;
    text-align: center;
    overflow: hidden;
}

.myModal .myModal__close {
  width: 21px; height: 21px;
  position: absolute;
  font-size: 29px;
  top: 1px; right: 11px;
  cursor: pointer;
  display: block;
}

.myOverlay {
  z-index: 37;
  position: fixed;
  background: rgba(0,0,0,.7);
  width: 100%; height: 100%;
  top: 0; left: 0;
  cursor: pointer;
  display: none;
}
.quote-content{
	display: flex;
    height: 100%;
}
.quote-modal-img{
    flex: 0 0 50%;
    background-position: center;
    background-size: cover;
}
.quote-text{
	padding: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.quote-text h2{
	font-size: 22px;
	text-align: left;
}
.quote-text h4{
	font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin: 10px 0 20px;
}


.quote-text p{
    padding: 1.2em 25px 1.2em 45px;
    border-left: 3px solid #04144f;
    line-height: 1.4;
    position: relative;
    background: #04144f05;
}

.quote-text p::before{
  font-family:Arial;
  content: "\201C";
  color:#04144f;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.quote-text p::after{
  content: '';
}

.quote-text p{
    text-align: left;
    font-size: 17px !important;
	font-weight: 500;
}
.quote-text .links-wrapper{
    width: 30px;
    margin: 0;
    padding: 0;
}

.quote-text .share-box{
    align-items: center;
	margin-top: auto;
    margin-bottom: 0;
    padding-top: 15px;
}

.quote-text .links-wrapper .img-wrapper{
    height: 30px !important;
    margin-bottom: 0 !important;
}

.share-box span{
	margin-right: 15px;
    font-size: 17px;
}



/***********************************************/



.post .img-wrapper {
    width: 340px;
    min-width: 340px;
    height: 200px;
	margin-top: 0;
    margin-right: 30px;
}
.post .img-wrapper img {
    width: 100%;
    height: 100%;
}

.main-post-title{
	margin-top: 10px;
}


.post-load {
    padding-top: 20px;
    padding-bottom: 15px;
    border-top: 1px solid #ededed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.post-load .img-wrapper {
    width: 450px;
    min-width: 450px;
    height: 250px;
    margin-right: 30px;
}
.post-load .img-wrapper img {
    width: 100%;
    height: 100%;
}



.post-top {
    margin-bottom: 13px;
    display: -webkit-inline-box;
}
.post-top a {
    font-size: 12px;
    color: #1091ff;
    text-transform: uppercase;
    font-weight: 500;
}
.post-top a:focus,
.post-top a:hover {
    text-decoration: underline;
}
.post-top .breaker {
    display: inline-block;
    margin: 0 5px;
    font-size: 12px;
    color: #cacaca;
}
.post__content > a {
    display: inline-block;
    font-size: 22px;
    color: #1c1c1c;
    font-weight: 500;
    margin-bottom: 13px;
	margin-top: 0 !important;
    line-height: 28px;
}
.post__content > a:focus,
.post__content > a:hover {
    text-decoration: underline;
}
.post__content p {
    color: #333;
    font-size: var(--p3);
}
.main-footer__inner {
    padding: 45px 0;
    border-top: 1px solid #ededed;
}
.footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 35px;
}
.footer-top img {
    width: 140px;
}
.footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.footer-menu__item:not(:last-child) {
    margin-right: 35px;
}
.footer-menu__item a {
    color: #000;
    font-size: var(--p2);
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}
.footer-menu__item a:focus,
.footer-menu__item a:hover {
    border-bottom: 1px solid #000;
}
.footer-bottom p {
    font-size: var(--p2);
    color: #666;
}
.article .main-post__inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.article .main-post__inner .post-date {
    margin-bottom: 12px;
    display: block;
}
.article .main-post-content {
    max-width: 750px;
    width: 750px;
}
.article .main-post-right {
    max-width: 100%;
}
.author-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.author-box .img-wrapper {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 15px;
    margin-bottom: 0;
}
.author-box .img-wrapper img {
    width: 100%;
    height: 100%;
}
.author-box h5 {
    font-size: var(--p1);
    margin-bottom: 6px;
}
.author-box p {
    font-size: var(--p2);
    margin-bottom: 0 !important;
    color: #999;
}
.img-copyright {
    color: #666;
    font-size: 15px;
}
.post-img {
    margin-bottom: 15px;
	height: 422px !important;
}
.article-content ol,
.article-content ul {
    list-style-type: disc;
    padding-left: 15px;
    margin-top: 25px;
    margin-bottom: 30px;
	font-size: 18px;
    line-height: 1.6em;
    color: #333;
}
.article-content ol li,
.article-content ul li {
    margin-bottom: 15px;
    padding-left: 10px;
	
}
.article-content ol {
    list-style-type: decimal;
}
.article-content h3 {
    font-size: 23px;
    margin-bottom: 15px;
}
.article-content p {
	font-size: 18px;
    color: #000;
    margin-bottom: 15px;
    line-height: 1.6em;
}

.error-not-found{
    font-size: 50px !important;
    font-weight: 900;
}
.tags-post{
    font-size: inherit;
}

.tags-post p{
    display: inline-flex;
}
.tags-post a{
    font-size: inherit;
}
.article-content a {
    font-size: inherit;
    color: #1794ff;
    display: inline-block;
    margin: 0 !important;
    font-weight: 500;
}
.article-content .important-box {
    padding: 15px 30px;
    background-color: #fff9e7;
}
.article-content .important-box p {
    margin: 0;
}
.share-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	margin-top: 50px;
    margin-bottom: 50px;
}
.share-box p {
    text-transform: uppercase;
    font-size: 13px;
    color: #999;
    margin-bottom: 0 !important;
    margin-right: 15px;
}
.share-box .links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.share-box .links-wrapper .img-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    margin: 0;
    margin-right: 5px;
}
.share-box .links-wrapper .img-wrapper img {
    width: unset;
    height: unset;
}
.share-box .links-wrapper .fb {
    background-color: #3b5998;
}
.share-box .links-wrapper .wk {
    background-color: #48729e;
}
.share-box .links-wrapper .tg {
    background-color: #64a9dc;
}
.tg-box {
    padding: 20px 30px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 35px;
	background: #1c9fff;
    color: white;
}
.tg-box__content {
    width: 80%;
    line-height: 1.5;
	display: flex;
}
.tg-box img{
    width: 25px;
}
.tg-link-wrapper img{
    width: 20px;
	margin: 10px 0;
}
.tg-box__content a {
    margin: 0 !important;
    color: #fff;
    font-size: var(--p1);
    font-weight: 700;
}

.tg-box__content p {
    font-size: 16px;
    color: #fff;
    padding: 7px 7px 7px 0;
    margin-bottom: 0 !important;
}

.tg-box__content span {
    font-size: 20px;
    font-weight: 900;
}
.article-ads {
    margin-bottom: 50px;
}
.article-related-posts .post:first-child {
    border-top: none;
}
.sidesection-title {
    font-size: 22px;
    margin-bottom: 5px;
    color: #333;
}
.mob-section {
    display: none;
}
.latest-posts .post,
.popular-posts .post {
    padding: 14px 0;
}
.latest-posts .post:first-child,
.popular-posts .post:first-child {
    border-top: none;
}
.latest-posts .post .img-wrapper,
.popular-posts .post .img-wrapper {
    width: 65px;
    min-width: 65px;
    height: 37px;
    margin-right: 10px;
}
.latest-posts .post a,
.popular-posts .post a {
    font-size: 14px;
    margin-bottom: 0;
	line-height: 18px;
	font-weight: 400;
}
.latest-posts .post-top,
.popular-posts .post-top {
    margin-bottom: 5px;
	margin-top: -7px;
}
.latest-posts .post-top a,
.latest-posts .post-top span,
.popular-posts .post-top a,
.popular-posts .post-top span {
    margin-bottom: 0 !important;
    display: inline-block !important;
    font-size: 10px;
}
.latest-posts .post {
    border: none;
}
.rubric-section .main-post-content {
    width: 100%;
    max-width: 100%;
}
.rubric-section .section-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}
.rubric-section .main-post-right {
    width: calc(100% - 270px);
    max-width: calc(100% - 270px);
}
.rubric-section .rubric-posts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.rubric-section .rubric-posts-wrapper .post {
    border: none;
    padding: 0;
    width: 32%;
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.rubric-section .rubric-posts-wrapper .post .img-wrapper {
    width: 100%;
    min-width: 100%;
    height: 145px;
    margin-bottom: 14px;
}
.quote-img {
    height: 220px !important;
}



.rubric-section .rubric-posts-wrapper-load {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.rubric-section .rubric-posts-wrapper-load .post-load {
    border: none;
    padding: 0;
    width: 32%;
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.rubric-section .rubric-posts-wrapper-load .post-load .img-wrapper {
    width: 100%;
    min-width: 100%;
    height: 145px;
    margin-bottom: 14px;
}


.rubric-section .rubric-posts-wrapper .post-top {
    margin-bottom: 6px;
}
.rubric-section .rubric-posts-wrapper .post-top a,
.rubric-section .rubric-posts-wrapper .post-top span {
    display: inline-block;
    margin-bottom: 0;
	height: 20px;
    overflow: hidden;
}
.rubric-section .rubric-posts-wrapper .post__content > a {
    font-size: 20px;
    line-height: 24px;
	margin-top: 0 !important
}
.main-header .container .main-header__inner .right-side{
	 margin: 0 0 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}
.main-header .container .main-header__inner .right-side .button {
	width: 148px;
	height: 38px;
	background: #01646e;
	border-radius: 6px;
	padding: 10px 0;
	font-weight: 500;
	font-size: 15px;
	color:#fff;
	margin-right: 85px;
	text-decoration: none;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-family: Roboto, sans-serif;
	transition: all .3s ease
}

.main-header .container .main-header__inner .right-side .button:hover {
	background: rgba(1, 100, 110, .6)
}
@media (max-width: 1130px) {
    :root {
        --h1: 30px;
        --h2: 30px;
        --h3: 20px;
    }

    .container {
        width: 768px;
    }
    .main-header__inner {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .main-header__inner .logo {
        margin-right: 0;
    }
    .header-right {
        margin-left: unset;
    }
    .tg-link-wrapper {
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }
    .tg-link-wrapper .img-wrapper {
        margin-right: 0;
    }
    .tg-link-wrapper span {
        display: none;
    }
    .main-post-left {
        display: none;
    }
    .main-post-right {
        margin-right: 0;
    }
    .main-post-right > .img-wrapper {
        margin-bottom: 18px;
    }
    .main-post-right a {
        margin-bottom: 16px;
		margin-top: 0 !important;
    }
    .main-post-right p {
        margin-bottom: 20px;
        font-size: var(--p1);
    }
    .lates-news__inner {
        max-width: 100%;
    }
    .post .img-wrapper {
        width: 335px;
        min-width: 335px;
        height: 190px;
    }
    .post-top {
        margin-bottom: 10px;
    }
    .post__content > a {
        margin-bottom: 10px;
    }
    .article .main-post-content {
        max-width: 460px;
        width: 460px;
    }
    .article .main-post-right > .img-wrapper {
        height: 300px;
        margin-bottom: 10px;
    }
    .rubric-section .main-post-content {
        width: 100%;
        max-width: 100%;
    }
    .rubric-section .main-post-right {
        width: calc(100% - 270px);
        max-width: calc(100% - 270px);
    }
    .rubric-section .rubric-posts-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .rubric-section .rubric-posts-wrapper .post {
        border: none;
        padding: 0;
        width: 48%;
    }
    .rubric-section .rubric-posts-wrapper .post:nth-last-child(-n + 4) {
        
    }
    .rubric-section .rubric-posts-wrapper .post__content > a {
        font-size: 18px;
    }
	.main-post-ads{
		display: none;
	}
}
@media (max-width: 991px) {
	.main-header .container .main-header__inner .right-side .button {
		margin-right: 30px
	}
}
@media (max-width: 768px) {
	.post-top{
		margin-bottom: 5px!important;
	}
	.post-top a{
		font-size: 12px !important;
	}
	.rpst, .tez, .tbld{
		display: none;
	}
    .mob-banner {
        display: block;
    }
    .mob-banner .container {
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .container {
        width: 576px;
    }
    .burger-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-left: 25px;
    }
    .searchbar-toggle-btn {
        display: none;
    }
    .main-nav {
        display: none;
    }
    .mob-nav {
        display: block;
        margin-top: 0;
        height: 0;
        opacity: 0;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    .mob-nav.active {
        margin-top: 26px;
        height: 17px;
        opacity: 1;
        visibility: visible;
    }
    .main-menu {
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    }
    .main-menu__item:not(:last-child) {
        margin: 0;
    }
    .main-post-ads {
        display: none;
    }
    .main-post-content {
        max-width: 100%;
        width: 100%;
    }
    .main-post-content .post-date {
        font-size: 11px;
    }
    .main-post-right {
        max-width: 100%;
    }
    .main-post__right {
        max-width: 100%;
    }
    .post .img-wrapper {
        width: 105px;
        min-width: 105px;
        height: 60px;
        margin-right: 15px;
    }

    .post__content a {
        margin-bottom: 0;
		line-height: 20px;
		font-weight: 400;
		font-size: 18px;
    }
    .post__content p {
        display: none;
    }
    .article .main-post-content {
        max-width: 100%;
        width: 100%;
    }
    .article .main-post-right > .img-wrapper {
/*         height: 220px; */
        margin-bottom: 10px;
		max-height: 195px;
    }
    .mob-section {
        display: block;
    }
    .rubric-section .main-post-right {
        width: 100%;
        max-width: 100%;
    }
    .rubric-section .main-post-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .rubric-section .rubric-posts-wrapper .post {
        margin-bottom: 0;
        padding: 15px 0;
        border-top: 1px solid #f3f3f3;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 100%;
    }
    .rubric-section .rubric-posts-wrapper .post .img-wrapper {
        width: 105px;
        height: 60px;
        min-width: 105px;
    }
    .rubric-section .rubric-posts-wrapper .post__content > a {
        font-size: 16px;
    }
    .rubric-section .main-post-ads {
        width: 100%;
        display: block;
    }
    .rubric-section .main-post-ads > .img-wrapper {
        display: none;
    }
    .rubric-section .main-post-ads .links-wrapper {
        display: none;
    }
    .quote-item{
        width: 100%;
        position: relative;
        padding: 0 !important;
        margin-bottom: 24px !important;
    }
    .quote-img{
        flex: 1 1 100%;
        margin: 0 !important;
    }
    .quote-item .post__content{
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .myModal {
        width: 90% !important;
        height: auto !important;
        max-height: 90%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .quote-content{
        flex-direction: column;
    }
    .quote-text p{
        display: block !important;
    }
    .quote-text .links-wrapper .img-wrapper{
        min-width: 30px !important;
        max-width: 30px !important;
    }
	.main-header .container .main-header__inner .right-side .button {
		margin-right: 15px
	}

	.main-header .container .main-header__inner .right-side .button#btn-two {
		margin-right: 0
	}
}
@media (max-width: 576px) {
    :root {
        --h1: 24px;
        --h2: 24px;
        --h3: 16px;
    }
	
	.tg-box .img-wrapper{
		display: none;
		
	}
	.tg-box__content{
		display: contents !important;
	}

    .main-banner .container {
        padding: 0;
        height: 100%;
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .tg-link-wrapper {
        width: 35px;
        height: 35px;
    }
    .tg-link-wrapper .img-wrapper {
        max-width: 55%;
    }
    .main-post-right > .img-wrapper {
        width: 100%;
/*         height: 220px; */
    }
    .footer-top {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .footer-top .logo {
        margin-bottom: 25px;
    }
    .footer-menu {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .footer-menu__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .rubric-section .main-post-right {
        width: 100%;
        max-width: 100%;
    }
	.article-title{
		line-height: 30px;
	}
	.post__content{
		margin-top: -7px;
	}
	.main-header .container .main-header__inner .right-side .button {
		width: 95px;
		font-size: 10px
	}

	.main-header .container .main-header__inner .right-side .button:first-of-type {
		margin-right: 5px
	}
}
@media only screen and (max-width:379px) {
	.main-header .container .main-header__inner .left-side {
		margin-right: 10px
	}

	.main-header .container .main-header__inner .right-side .button {
		width: 95px;
		font-size: 10px
	}

	.main-header .container .main-header__inner .right-side .button:first-of-type {
		margin-right: 5px
	}
}

@media only screen and (max-width:359px) {
	.main-header .container .main-header__inner .left-side {
		margin-right: 20px
	}

	.main-header .container .main-header__inner .right-side .button {
		width: 148px;
		font-size: 15px;
		margin-right: 0 !important
	}

	.main-header .container .main-header__inner .right-side .button#btn-two {
		display: none
	}
}
@media (max-width: 375px) {
    .container {
        width: 100%;
    }
}
/*# sourceMappingURL=main.css.map */

