$font-robot: 'Roboto', Arial, sans-serif;
$font-ora: 'Oranienbaum', serif;

$border-line: 1px solid #EEEEEE;
$border-line-video: 1px solid #333333;
$border-footer: 1px solid #CFCDCD;

$light-gray: #999999;
$blue-text: #3F5299;
$dark-gray-text: #A6A6A6;
$dark-text: #151515;
$dark-gray-bg: #222222;
$light-gray-bg: #E0E0E0;

$light-gray-button: rgba(69, 69, 69, 0.2);
$light-gray-button-hover: rgba(69, 69, 69, 0.6);
